body{
    background-color: rgb(86, 255, 232);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.area{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid salmon;
    border-radius: 50%;
    transform: scale(0);
    animation: circleAnim 0.6s ease-out forwards;
}
@keyframes circleAnim{
    to{
        transform: scale(2);
        opacity: 0;
    }
}
.hit-box{
    height: 0px;
    overflow: hidden;
    transition-duration: 0.4s;
}
.score-zoom{
    display: none;
    position: absolute;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(2);
    transition: 1s;
}

.tikus{
    height: 100px;
    display: none;
}
.diksyen{
    height: 100px;
    display: none;
}
.score{
    text-align: center;
}
.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 120px;
    height: 120px;
}
.ground{
    width: 120px;
    position: absolute;
    bottom: 0;
}
select input{
    padding: 4px;
}